<!-- ART -->
<div class="main">
	<br>
	<div class="title">         
		<img src="http://i68.tinypic.com/e0oe44.png" class="title"/>
	</div>
	<br><br>
	<div class="text">
		<h1>Purses</h1>
		<p>	
			I use my sewing machine to make these purses. I like small purses
			because I usually don't carry many things around with me, and they
			are much easier to make when they're small. I have made purses for
			friends in the past, so if you're interested in one, let me know!
		</p><br>
		<div class="image-selector" ng-controller="purse-controller">
			<div class="left-arrow"><img src="http://i63.tinypic.com/10565xk.png" class="art" ng-click="previous()"/></div>
			<div class="purse-image"><img ng-src="{{purse}}" class="art"/></div>
			<div class="right-arrow"><img src="http://i63.tinypic.com/30cbsk9.jpg" class="art" ng-click="next()"/></div>
		</div>
	</div>
	<br><br>
	<div class="text">
		<h1>Headbands</h1>
		<p>
			I learned how to knit after joining a knitting club at school. These handbands only take me a couple hours each, and are super warm during the winter.
		</p><br>
		<div class="image-selector" ng-controller="headband-controller">
			<div class="left-arrow"><img src="http://i63.tinypic.com/10565xk.png" class="art" ng-click="previous()"/></div>
			<div class="headband-image"><img ng-src="{{headband}}" class="art"/></div>
			<div class="right-arrow"><img src="http://i63.tinypic.com/30cbsk9.jpg" class="art" ng-click="next()"/></div>
		</div>
	</div>
	<br>
	<br>
	<br>
</div>