/* ALL PAGES */

body {
	background-color: #9f8091;
	font-family: Tahoma, Geneva, sans-serif;
	color: black;
	font-size: 30px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}

div.sidebar {
	right: 0px;
	top: 0px;
	position: fixed;
	z-index: 200;
}

div.flowers {
	display: block;
	position: fixed;
	right: -5px;
	bottom: -5px;
	z-index: 100;
	pointer-events: none;
}

img.gif {
	display: block;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 500;
}

img.flowers {
	position: fixed;
	z-index: -10;
	right: -80px;
	bottom: -80px;
	transform: rotate(70deg);
	-webkit-transform: rotate(70deg);
	-ms-transform: rotate(70deg);
	width: 615px;
}

img.link {
	display: block;
	right: 0px;
	float: right;
	height: 45px;
}

img.home {
	display: block;
	right: 0px;
	float: right;
	width: 60%;
}

div.main {
	display: block;
	margin-left: 5%;
	width: 75%;
	height: 100%;
	z-index: 50;
}

div.title {
	width: 100%;
	text-align: center;
}

img.title {
	height: 90px;
}

div.images {
	display: block;
	float: top;
	width: 90%;
	left: 10%;
	margin: auto;
	padding: 5%;
}

div.text {
	display: block;
	background-color: #DDDDDD;
	width: 90%;
	left: 10%;
	padding: 5%;
	margin: auto;
	border-width: 7px;
	border-style: solid;
	border-color: black;
	line-height: 100%;
}

h1 {
	font-size: 35px;
	text-align: center;
	line-height: 100%;
}

/* ABOUT PAGE */

#head {
	width: 300px;
}

/* CLASSES PAGE */
.classes {
	line-height: 145%;
}

/* GAMES PAGE */

img.preview {
	width: 100%;
	position: relative;
}

p.game {
	text-align: center;
}

a.game {
	font-size: 35px;
}

/* CONTACTS PAGE */

table {
	top: 0px;
	margin: auto;
	width: 75%;
	z-index: 50;
	position: relative;
}

tr.contact {
	height: 25px;
}

td {
	padding: 0px;
	text-align: left;
	font-weight: normal;
}

td.contact {
	text-align: right;
}

/* ARTWORK PAGE */

.art-image1 {
	float: left;
	top: 0px;
	width: 100%;
}

.art-image2 {
	float: right;
	top: 0px;
	width: 100%;
}


img.art {
	width: 90%;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	background-color: black;
	margin: auto;
	margin-bottom: 7%;
}





