<html>
<head>
	<!-- DONT KNOW IF I NEED THIS
	<meta 
		name='viewport' 
    	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
    />
	-->
  	<title>:-)</title>
  	<link rel="stylesheet" href="../css/flower_style.css">
  	<script src="../js/jquery.js"></script>
  	<script src="../js/flower2.js"></script>
</head>
<body id="screen2">
	<img id="pick-sky" src="../images/flower/sky_title.png">
	<div id="sky-holder">
		<img class="sky-button-img" src="../images/flower/sky/sky0.png" id="sky0">
		<img class="sky-button-img" src="../images/flower/sky/sky1.png" id="sky1"><br>
		<img class="sky-button-img" src="../images/flower/sky/sky2.png" id="sky2">
		<img class="sky-button-img" src="../images/flower/sky/sky3.png" id="sky3"><br>
		<img class="sky-button-img" src="../images/flower/sky/sky4.png" id="sky4">
		<img class="sky-button-img" src="../images/flower/sky/sky5.png" id="sky5">
	</div>
</body>
</html>
