<html>
<head>
	<!-- DONT KNOW IF I NEED THIS
	<meta 
		name='viewport' 
    	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
    />
	-->
  	<title>:-)</title>
  	<link rel="stylesheet" href="../css/flower_style.css">
  	<script src="../js/jquery.js"></script>
  	<script src="../js/flower1.js"></script>
</head>
<body id="screen1">
	<img id="pick-color" src="../images/flower/color_title.png">
	<div id="color-holder">
		<div class="button" id="color0"></div>
		<div class="button" id="color1"></div>
		<div class="button" id="color2"></div><br>
		<div class="button" id="color3"></div>
		<div class="button" id="color4"></div>
		<div class="button" id="color5"></div><br>
		<div class="button" id="color6"></div>
		<div class="button" id="color7"></div>
		<div class="button" id="color8"></div>
	</div>
</body>
</html>
